Repository shrvr/track-your-spends: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --prefix ./tys-webapp run lint:fix, npm --prefix ./tys-webapp run format, npm --prefix ./tys-apis run lint:fix, npm --prefix ./tys-apis run format

chore(api,webapp): setup ESLint, Prettier and Husky [SCRUM-1]
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  tys-apis/.eslintignore
  tys-apis/.eslintrc.json
  tys-apis/.prettierignore
  tys-apis/.prettierrc.json
  tys-apis/package-lock.json
  tys-apis/package.json
  tys-apis/src/config.ts
  tys-apis/src/index.ts
  tys-apis/tsconfig.json
  tys-webapp/.eslintignore
  tys-webapp/.eslintrc.json
  tys-webapp/.prettierignore
  tys-webapp/.prettierrc.json
  tys-webapp/package-lock.json
  tys-webapp/package.json
  tys-webapp/public/index.html
  tys-webapp/src/App.test.tsx
  tys-webapp/src/App.tsx
  tys-webapp/src/index.scss
  tys-webapp/src/index.tsx
  tys-webapp/src/reportWebVitals.ts
  tys-webapp/tsconfig.json
Due: npm --prefix ./tys-webapp run lint:fix, npm --prefix ./tys-webapp run format, npm --prefix ./tys-apis run lint:fix, npm --prefix ./tys-apis run format

chore(webapp): add and change eslint rules
  tys-webapp/.eslintrc.json
  tys-webapp/package-lock.json
  tys-webapp/package.json
  tys-webapp/src/App.test.tsx
  tys-webapp/src/index.tsx
  tys-webapp/tsconfig.json
Due: npm --prefix ./tys-webapp run lint:fix, npm --prefix ./tys-webapp run format

chore(root): add linting and formatting scripts
  package.json
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

fix(root): fix pre-commit checks
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: none

Create pull_request_template.md
  .github/pull_request_template.md
Due: none

feat(api): new user register api [SCRUM-6]
  tys-apis/.eslintrc.json
  tys-apis/package-lock.json
  tys-apis/package.json
  tys-apis/src/config.ts
  tys-apis/src/index.ts
  tys-apis/src/models/User.ts
  tys-apis/src/routes/auth.ts
  tys-apis/tsconfig.json
Due: npm --prefix ./tys-apis run lint:fix, npm --prefix ./tys-apis run format

test(apis): add tests to register api [SCRUM-6]
  .github/workflows/node.js.yml
  .gitignore
  .husky/pre-commit
  package.json
  tys-apis/.eslintrc.json
  tys-apis/jest.config.json
  tys-apis/jest.setup.ts
  tys-apis/package-lock.json
  tys-apis/package.json
  tys-apis/src/config.ts
  tys-apis/src/index.ts
  tys-apis/src/routes/tests/auth.test.ts
  tys-apis/tsconfig.json
Due: npm --prefix ./tys-apis run lint:fix, npm --prefix ./tys-apis run format

refactor(apis, root): ref the config.ts file [SCRUM-6]
  .gitignore
  tys-apis/src/config.ts
Due: npm --prefix ./tys-apis run lint:fix

Issue: Register Page Layout: Commit-1
  package-lock.json
  tys-webapp/package-lock.json
  tys-webapp/package.json
  tys-webapp/src/App.tsx
  tys-webapp/src/Components/InputField.tsx
  tys-webapp/src/Components/Register.tsx
  tys-webapp/src/Components/SelectField.tsx
  tys-webapp/src/Style/Register.scss
Due: npm --prefix ./tys-webapp run lint:fix, npm --prefix ./tys-webapp run format

Issue: Register Page Layout: Commit-1
  tys-webapp/src/App.tsx
  tys-webapp/src/Components/Register.tsx
Due: npm --prefix ./tys-webapp run lint:fix

fix(webapp): address requested changes [SCRUM-5]
  tys-webapp/.eslintrc.json
  tys-webapp/src/App.tsx
  tys-webapp/src/Components/Register.tsx
Due: npm --prefix ./tys-webapp run lint:fix, npm --prefix ./tys-webapp run format

chore(api): add cors middleware [SCRUM-18]
  tys-apis/package-lock.json
  tys-apis/package.json
  tys-apis/src/index.ts
Due: npm --prefix ./tys-apis run lint:fix, npm --prefix ./tys-apis run format

feat(webapp): add user register service [SCRUM-18]
  tys-webapp/package-lock.json
  tys-webapp/package.json
  tys-webapp/src/apiMethods.tsx
  tys-webapp/src/services/userService/index.tsx
  tys-webapp/src/services/userService/register.tsx
Due: npm --prefix ./tys-webapp run lint:fix, npm --prefix ./tys-webapp run format

fix(api): modify register api response data [SCRUM-18]
  tys-apis/src/routes/auth.ts
  tys-apis/src/routes/tests/auth.test.ts
Due: npm --prefix ./tys-apis run lint:fix

Added Login Page and Component
  tys-webapp/package-lock.json
  tys-webapp/package.json
  tys-webapp/src/App.tsx
  tys-webapp/src/Components/InputField.tsx
  tys-webapp/src/Components/Login.tsx
  tys-webapp/src/Pages/Login.tsx
  tys-webapp/src/routes.tsx
Due: npm --prefix ./tys-webapp run lint:fix, npm --prefix ./tys-webapp run format

Removed InputField.tsx
  tys-webapp/src/Components/InputField.tsx
Due: npm --prefix ./tys-webapp run lint:fix

feat(api): Adding forgot password api [SCRUM-10]
  tys-apis/package-lock.json
  tys-apis/package.json
  tys-apis/src/asset/TrackYourSpendsLogo.png
  tys-apis/src/config.ts
  tys-apis/src/index.ts
  tys-apis/src/models/ResetCode.ts
  tys-apis/src/routes/emailService.ts
  tys-apis/src/routes/forgotPassword.ts
  tys-apis/src/routes/forgotPasswordEmail.ts
  tys-apis/src/routes/otpService.ts
Due: npm --prefix ./tys-apis run lint:fix, npm --prefix ./tys-apis run format

Path conditions:
  npm --prefix ./tys-webapp run lint:fix: any of: tys-webapp/**/*.{ts,tsx}
  npm --prefix ./tys-webapp run format: any of: tys-webapp/**/*.{js,css,md,html,json}
  npm --prefix ./tys-apis run lint:fix: any of: tys-apis/**/*.{ts,tsx}
  npm --prefix ./tys-apis run format: any of: tys-apis/**/*.{js,css,md,html,json}
